<!DOCTYPE html>
<html lang="en">

<!--Incluye el Head-->
<%- include('./partials/head', {title: 'Crear Publicación'})%>

    <body>
        <header>
            <!--Logo y banner-->
            <%- include('./partials/banner') %>

                <!--Barra de Navegación-->
                <%- include('./partials/nav-bar')%>

                    <!--Barra de Búsqueda-->
                    <!--Enlaces a redes sociales-->
        </header>
        <main>
            <div class="form">
                <div class="login-form">
                    <!--Imprimo la lista de errores-->
                    <% if(locals.errors) { %>
                        <p>
                            <%= errors %>
                        </p>
                        <% } %>
                            <form method="POST" action="/producto/publicar" enctype="multipart/form-data">
                                <!--Para que envie archivos-->
                                <label for="titulo">Título</label>
                                <input type="text" name="titulo" id="titulo">
                                </br>
                                <label for="precio">Precio de venta</label>
                                <input type="text" name="precio" id="precio">
                                </br>
                                <label for="estado_producto">Estado del Producto</label>
                                <select name="estado_producto" id="estado_producto">
                                    <option value="Nuevo">Nuevo</option>
                                    <option value="Usado">Usado</option>
                                </select>
                                </br>
                                <label for="tipo_publicacion">Tipo Publicación</label>
                                <select name="tipo_publicacion" id="tipo_publicacion">
                                    <option value="5">Sale o Sale</option>
                                    <option value="15">Tiempo Límite</option>
                                </select>
                                </br>
                                <label for="fechaHoraLimite">Fecha y Hora Límite</label>
                                <input type="date" name="fechaHoraLimite" id="fechaHoraLimite">
                                </br>
                                <label for="total_cupones">Total Cupones</label>
                                <select name="total_cupones" id="total_cupones">
                                    <option value="10">10</option>
                                    <option value="25">25</option>
                                    <option value="50">50</option>
                                    <option value="100">100</option>
                                </select>
                                </br>>
                                <label for="descripcion">Descripción</label>
                                <textarea name="descripcion" id="descripcion"></textarea>
                                </br>
                                <label for="imagenProducto">Imagen del Producto</label>
                                <input type="file" name="imagenProducto" id="imagenProducto">
                                </br>
                                <button type="submit">Publicar</button>
                            </form>
                </div>
            </div>
        </main>
        <footer>
            <!-- footer-->
            <%- include('./partials/footer') %>
        </footer>
    </body>

</html>