<!DOCTYPE html>
<html lang="es">

<!--Incluye el Head-->
<%- include('./partials/head', {title: 'Editar Publicación'})%>

    <body>
        <header>
            <!--Logo y banner-->
            <%- include('./partials/banner') %>

                <!--Barra de Navegación-->
                <%- include('./partials/nav-bar')%>

                    <!--Barra de Búsqueda-->
                    <!--Enlaces a redes sociales-->
        </header>
        <main>
            <div class="form">
                <div class="login-form">
                    <form action="/producto/actualizar/<%= producto.id %>?_method=PUT" method="POST" enctype="multipart/form-data">
                        <!--Para que envie archivos-->
                        <h2>Estás editando el producto #
                            <%=producto.id%> -
                                <%=producto.nombre%>
                        </h2>
                        <label for="titulo">Título</label>
                        <input type="text" name="titulo" id="titulo" value="<%=producto.nombre%>">
                        </br>
                        <label for="precio">Precio de venta</label>
                        <input type="text" name="precio" id="precio " value="<%=producto.precio%>">
                        </br>
                        <label for="fechaHoraLimite">Fecha y Hora Límite</label>
                        <input type="date" name="fechaHoraLimite" id="fechaHoraLimite" value="<%=producto.fecha_y_hora_limite%>">
                        </br>
                        <label for="totalCupones">Total de Cupones</label>
                        <input type="number" name="totalCupones" id="totalCupones" value="<%=producto.total_cupones%>">
                        </br>
                        <label for=" descripcion ">Descripción</label>
                        <textarea name="descripcion" id="descripcion"><%=producto.descripcion%></textarea>
                        </br>
                        <label for="imagenProducto">Imagen del Producto</label>
                        <input type="file" name="imagenProducto" id="imagenProducto">
                        </br>

                        <button type="submit ">Publicar</button>
                    </form>
                </div>
            </div>
        </main>
        <footer>
            <!-- footer-->

        </footer>
    </body>

</html>