<!DOCTYPE html>
<html lang="es">
<!--Incluye el Head-->
<%- include('./partials/head', {title: 'Home'})%>

    <body>
        <header>
            <!--Logo y banner-->
            <%- include('./partials/banner') %>

                <!--Barra de Navegación-->
                <%- include('./partials/nav-bar')%>

                    <!--Barra de Búsqueda-->
                    <!--Enlaces a redes sociales-->
        </header>
        <!-- Buscador-->
        <%- include('./partials/search')%>
            <main>
                <h1>De rifas bienvenidos</h1>

                <!--Seccion Novedades-->
                <h2>Novedades</h2>
                <div class="flex">
                    <% for(let prod of novedadesProductos){ %>
                        <%-
        include("./partials/producto",{prod}) %>
                            <% } %>
                </div>

                <!--Seccion Ultimas oportunidades-->
                <h2>Últimas Oportunidades</h2>
                <div class="flex">
                    <% for(let prod of ultimaOportunidadProductos){ %>
                        <%-
        include("./partials/producto",{prod}) %>
                            <% } %>
                </div>

                <!--Seccion categorias-->
                <section>
                    <!--Categorias de productos-->
                </section>
            </main>

            <footer>
                <!-- footer-->
                <%- include('./partials/footer') %>
            </footer>
    </body>

</html>