<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Derifas Home - Bienvenidos</title>
    <link href="https://fonts.googleapis.com/css2?family=Roboto&amp;display=swap" rel="stylesheet">
    <link rel="stylesheet" href="css/estilo.css">
    <link rel="stylesheet" href="/css/estilo-sm.css" media="(min-width:480px)" />
    <link rel="stylesheet" href="/css/estilo-md.css" media="(min-width:768px)" />
    <link rel="stylesheet" href="/css/estilo-lg.css" media="(min-width:1280px)" />
</head>

<body>
    <header>
        <!--Logo y banner-->
        <%- include('./partials/banner') %>

            <!--Barra de Navegación-->
            <%- include('./partials/nav-bar')%>


                <!--Barra de Búsqueda-->
                <!--Enlaces a redes sociales-->
    </header>
    <main>
        <h1>De rifas bienvenidos</h1>

        <!--Seccion Novedades-->
        <%- include('./partials/novedades-productos') %>

            <!--Seccion Ultimas oportunidades-->
            <%- include('./partials/ultimas-oportunidades') %>

                <!--Seccion categorias-->
                <section>
                    <!--Categorias de productos-->
                    <h2>Categorías</h2>
                </section>
    </main>
    <footer>
        <!-- footer-->
        <%- include('./partials/footer') %>
    </footer>
</body>

</html>