<!DOCTYPE html>
<html lang="es">

<!--Incluye el Head-->
<%- include('./partials/head', {title: 'Detalle de Publicación'})%>

    <body>
        <header>
            <!--Logo y banner-->
            <%- include('./partials/banner') %>

                <!--Barra de Navegación-->
                <%- include('./partials/nav-bar')%>


                    <!--Barra de Búsqueda-->
                    <!--Enlaces a redes sociales-->
        </header>
        <section>
            <acticle class="producto">
                <div class="container product wrapper">
                    <div class="row">
                        <div class="col-12">
                            <h2 class="products-title">
                                Detalle del producto:
                                <%=producto.nombre%>
                            </h2>
                        </div>
                    </div>

                    <div class="producto-wrapper">
                        <a href="/productos/<%= producto.id %>">
        <img src="/img/productos/<%= producto.imagen %>" width="50%" alt="imagen del producto">

        <div class="producto-content">
            <div class=flex>
                <p class="precio-producto">
                    $
                    <%=producto.precio%>
                </p>
                <p class="precio-cupon">
                    $
                    <%= Math.round(producto.precio / producto.total_cupones) %>
                </p>
            </div>
            <div class=flex>
                <p class=tags-ultimos-cupones>últimos cupones</p>
                <p class=tags-sale-sale>sale o sale</p>
            </div>
            <div class=flex>
                <p>
                    <%= producto.cupones_disponibles %> cupones disp.</p>
                <p>finaliza</p>
                <p>
                    <%=producto.fecha_y_hora_limite%>
                </p>
            </div>
            
            <p><a href="/producto/modificar/<%= producto.id%>"">Modificar Producto</a>
                        </p>
                    </div>
                    </a>

                </div>
                </div>
            </acticle>
        </section>
        <footer>
            <!-- footer-->
            <%- include('./partials/footer') %>
        </footer>
    </body>

</html>